.btn {
  border-width: 0;
  outline: none;
  overflow: hidden;
  padding: 5px 3px;
  margin: 0 3px;
  transition: background-color 0.3s;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  transform: scale(1.1);
}

.btn > * {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
}

.btn.btn-icon {
  /* padding-left: 0; */
  /* padding-right: 0; */
}

.btn.btn-accent,
.btn.btn-success {
  background-color: var(--accent-color);
  color: var(--text-primary-color);
}

.btn.btn-warn,
.btn.btn-warning {
  background-color: var(--warning-color);
  color: var(--text-primary-color);
}

.btn.btn-info {
  background-color: var(--default-primary-color);
  color: var(--text-primary-color);
}

.btn.btn-error {
  background-color: var(--error-color);
  color: var(--text-primary-color);
}

.btn.btn-trigger {
  background-color: var(--secondary-text-color);
  color: var(--text-primary-color);
}
