form-group {
    display       : flex;
    flex-direction: column;
    margin-bottom : 2vh;
    margin-left   : 1vw;
    max-width     : 30vw;
}

form-group>input {
    border       : none;
    border-bottom: 2px solid var(--divider-color);
}

form-group>input:focus,
form-group>input:focus-visible {
    outline      : 0;
    border       : none;
    border-bottom: 2px solid var(--accent-color);
}

form-group>label {
    color        : var(--secondary-text-color);
    margin-bottom: 0.3vh;
}

form-group:focus-within>label {
    color        : var(--accent-color);
    margin-bottom: 0.3vh;
}

form>button.btn {
    margin: 1vh 2vw;
}