#login-form {
    border-style: solid;
    border-width: 2px;
    display: block;
    width: 20%;
    text-align: center;
    position: fixed;
    left: 50%;
}

#login-form>label{
    display: none;
}

#password, #username {
    padding: 1vh 1vw;
    margin: 1vh;
    width: 80%;
}

.login-button {
    width: 40%;
    margin: 1em;
    padding: 1vh;
}