:root {
    --header-height        : 5vh;
    --dark-primary-color   : #1976D2;
    --default-primary-color: #2196F3;
    --light-primary-color  : #BBDEFB;
    --text-primary-color   : #FFFFFF;
    --accent-color         : #4CAF50;
    --primary-text-color   : #212121;
    --secondary-text-color : #757575;
    --divider-color        : #BDBDBD;
    --error-color          : #FF5252;
    --warning-color        : #FFC107;
}

/* region colors */
.dark-primary-color {
    background: var(--dark-primary-color);
}

.default-primary-color {
    background: var(--default-primary-color);
}

.light-primary-color {
    background: var(--light-primary-color);
}

.text-primary-color {
    color: var(--text-primary-color);
}

.accent-color {
    background: var(--accent-color);
}

.primary-text-color {
    color: var(--primary-text-color);
}

.secondary-text-color {
    color: var(--secondary-text-color);
}

.divider-color {
    border-color: var(--divider-color);
}

.error-clor {
    color: var(--error-color);
}

.warning-clor {
    color: var(--warning-color);
}
/* endregion colors */

* {
    box-sizing : border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body,
head {
    margin    : 0;
    margin-top: var(--header-height);
    padding   : 0;
}

body {
    background-color: var(--light-primary-color);
}

main {
    min-height: 80vh;
    background: #fff;
    margin    : 2vh 5vw;
    padding   : 2vh 2vw;
}

/* region common classes */
.bolded {
    font-weight: bold;
}

.centered {
    text-align: center;
}

.display-block {
    display: block;
}

.display-columns {
    display        : flex;
    justify-content: space-evenly;
}

.display-columns>* {
    flex-basis: 10vw;
    flex-grow : 1;
    margin    : 0 2vw;
}

.display-in-column {
    align-items    : center;
    display        : flex;
    flex-direction : column;
    justify-content: center;
}

.display-in-column>* {
    margin-bottom: 1vh;
    margin-top   : 1vh;
}

.middle-elements {
    display    : flex;
    align-items: center;
}

/* endregion common classes */

/* region shadows */
.card {
    border-radius: 2px;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* endregion shadows */