modal>modal-container {
    display : none;
    position: fixed;
    z-index : 1;
    left    : 0;
    top     : 0;
    width   : 100%;
    height  : 100%;
}

modal>modal-container::after {
    content         : '';
    width           : 100%;
    height          : 100%;
    background-color: var(--divider-color);
    opacity         : 0.7;
    position        : absolute;
}

modal>modal-container>modal-main {
    background-color: #fefefe;
    z-index         : 2;
    padding         : 2vh 3vw;
    border          : 1px solid var(--divider-color);
    min-width       : 30vw;
    position        : fixed;
    opacity         : 1;
    top             : 50%;
    left            : 50%;
    transform       : translate(-50%, -50%);
}

modal>modal-container>modal-main>modal-close {
    color      : var(--divider-color);
    float      : right;
    font-size  : 28px;
    font-weight: bold;
    position   : absolute;
    top        : 2vh;
    right      : 2vw;
}

modal>modal-container>modal-main>modal-close:hover,
modal>modal-container>modal-main>modal-close:focus {
    color          : var(--primary-text-color);
    text-decoration: none;
    cursor         : pointer;
}