#main-nav {
    background-color: var(--default-primary-color);
    color           : var(--text-primary-color);
    display         : flex;
    height          : var(--header-height);
    justify-content : space-between;
    left            : 0;
    position        : fixed;
    top             : 0;
    width           : 100vw;
}

#main-nav>section,
#main-nav>section>ul {
    height         : 100%;
    list-style-type: none;
    margin         : 0;
    overflow       : hidden;
    padding        : 0;
}

#main-nav>section>ul>router-link {
    align-items   : center;
    display       : flex;
    flex-direction: row;
    float         : left;
    height        : 100%;
    padding       : 1vh 2vw;
    transition    : background-color .3s;
}

#main-nav>section>ul>router-link:hover {
    background-color: var(--accent-color);
    cursor          : pointer;
}