dynamic-table{
  display: block;
  width: 100%;
}

dynamic-table>h3 {
  width: 100%;
  color: var(--secondary-text-color);
  text-align: center;
  display: block;
  font-size: 24px;
}

table {
  width: 95%;
  color: var(--secondary-text-color);
  margin: 0 2.5%;
  table-layout:fixed
}

table>thead>tr>th {
  text-align: left;
  font-size: 20px;
  border-bottom: 2px solid var(--divider-color);
}

table>tbody>tr {
  text-align: left;
  font-size: 18px;
}

table>tbody>tr>* {
  padding: 4px;
}

table>tbody>tr>td {
  overflow:hidden; white-space:nowrap; text-overflow:ellipsis;
  max-width: 20%;
  overflow-wrap: break-word;
}

table>tbody>tr:hover {
  background-color: var(--light-primary-color);
}
